accelerate==1.7.0
albucore==0.0.17
albumentations==1.3.1
calflops==0.3.2
click==8.1.8
datasets==3.6.0
evaluate==0.4.3
faster-coco-eval==1.6.5
hydra-core==1.3.2
ipykernel
ipython
isort
lightning
lightning-utilities
loguru
matplotlib
numpy==1.26.4
opencv-python
opencv-python-headless
pyarrow==20.0.0
pycocotools
pytorch-lightning==2.5.1.post0
PyYAML
super-gradients
torch
torchmetrics
torchvision
transformers==4.52.0.dev0
tqdm
wandb
